<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./lib/bootstrap.css">
    <link rel="stylesheet" href="./lib/bootstrap-switch.min.css">
</head>
<body>
    <div id="app" class="container-fluid">
        <div class="card">
            <div class="card-header">添加品牌</div>
            <div class="card-body">
                <form @submit.prevent="add">
                    <div class="form-row align-item-center">
                        <div class="col-auto">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">品牌名称</div>
                                </div>
                                <input type="text" class="form-control"
                                    placeholder="请输入品牌名称" v-model.trim="brand">
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary mb-2">添加</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <th>#</th>
                <th>品牌名称</th>
                <th>状态</th>
                <th>创建时间</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr v-for="item in list" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" :id="'customSwitch' + item.id"
                            v-model="item.status">
                            <label class="custom-control-label" :for="'customSwitch' + item.id" v-if="item.status">已启用</label>
                            <label class="custom-control-label" :for="'customSwitch' + item.id" v-else="item.status">已禁用</label>
                        </div>
                    </td>
                    <td>{{ item.time | dateFormat }}</td>
                    <td><a href="javascript:;" @click="remove(item.id)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./lib/vue.js"></script>
    <script src="./lib/dayjs.min.js"></script>
    <script>
        Vue.filter('dateFormat', (time) => {
            return dayjs(time).format('YYYY-MM-DD HH:mm:ss')
        })

        const vm = new Vue({
            el: '#app',
            data: {
                brand: '',
                nextId: 4,
                list: [
                    {id: 1, name: '宝马', status: true, time: new Date()},                    
                    {id: 2, name: '奔驰', status: false, time: new Date()},
                    {id: 3, name: '奥迪', status: true, time: new Date()}
                ]
            },
            methods: {
                remove(id) {
                    this.list = this.list.filter(item => item.id !== id)
                },
                add() {
                    if (this.brand === '') return alert('必须填写品牌名称')

                    this.list.push({
                        id: this.nextId++,
                        name: this.brand,
                        status: true,
                        time: new Date()
                    })
                    this.brand = ''
                }
            }
        })
    </script>
</body>
</html>